@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.burger {
  position: relative;
}
.burger-line {
  display: flex;
  width: 18px;
  height: 2px;
  background-color: #f3f3f3;
  transition: 0.3s all ease;
}
.burger.active .burger-line {
  background-color: #1e322d;
}
.burger.active > .top-line {
  transform: translateY(1px) rotate(45deg);
  transition: 0.3s all ease;
}
.burger.active > .mid-line {
  opacity: 0;
  transition: 0.3s all ease;
}
.burger.active > .bot-line {
  transform: translateY(-11px) rotate(-45deg);
  transition: 0.3s all ease;
}
#header {
  z-index: 999 !important;
}

.ticker-wrap {
  width: 100%;
  box-sizing: content-box;
  overflow: hidden;
  height: 24px;
  padding-bottom: 25px;
  display: block;
}

.ticker-wrap .ticker {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 100px;
  white-space: nowrap;
  position: relative;
  z-index: 10;
  height: 100%;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 90s;
  animation-duration: 90s;
}

.ticker-wrap .ticker__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ticker__item img {
  opacity: 0.2;
  min-width: 100px;
  min-height: 22px;
  filter: invert(94%) sepia(76%) saturate(0%) hue-rotate(40deg) brightness(113%)
    contrast(101%);
}

.whiteImage {
  filter: invert(94%) sepia(76%) saturate(0%) hue-rotate(40deg) brightness(113%)
    contrast(101%);
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  200% {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
    visibility: visible;
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  200% {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
    visibility: visible;
  }
}

.section-title:before {
  width: 21px;
  height: 21px;
  border-radius: 5px;
  background-color: #8ad68f;
  position: absolute;
  top: -34px;
  content: "";
  display: block;
  left: 48%;
  right: 48%;
}

.swiper-pagination-bullet {
  width: 30px;
  border-radius: 0;
  height: 3px;
  background-color: #ffffff;
  opacity: 20%;
  transition: 0.3s all;
}
.swiper-pagination-bullet-active {
  opacity: 100%;
}
.arrowLink {
  filter: invert(56%) sepia(35%) saturate(762%) hue-rotate(183deg)
    brightness(84%) contrast(87%);
  transform: rotate(-90deg);
  margin-bottom: -5px;
}

._lock {
  overflow: hidden;
}

@media (max-width: 480px) {
  .ticker-wrap .ticker {
    gap: 50px;
  }
}
