@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --gap-base: 10px;
    --radius-base: 10px;
    --radius-halfbase: 5px;
    --color-dark_green: #1e322d;
    --color-green: #8ad68f;
    --color-card_bg: #f3f3f3;
    --color-section-bg: #f7f7f6;
    --color-card_dark_bg: #efefef;
    --color-dark_text: #1e322d;
    --color-link: #6083cc;
    --color-card_light: #e5ebf5;
    --color-border_base: #efedeb;
    --color-base-bg: #f7f7f7;
    --color-darkest-text: #292929;
    --color-light-text: #545454;
    --color-lighter-text: #4f4f4f;
    --color-admin_dark_text: #333333;

    --breakpoint-*: initial;
    /* --breakpoint-max-*: initial; */
    --breakpoint-small: 480px;
    --breakpoint-medium: 768px;
    --breakpoint-large: 992px;
    --breakpoint-megalarge: 1200px;
    --breakpoint-xl: 1640px;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-exo_2-sans);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

* {
    font-family: "Exo 2", sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.burger {
    position: relative;
}

.burger-line {
    display: flex;
    width: 18px;
    height: 2px;
    background-color: #f3f3f3;
    transition: 0.3s all ease;
}

.burger.active .burger-line {
    background-color: #1e322d;
}

.burger.active>.top-line {
    transform: translateY(1px) rotate(45deg);
    transition: 0.3s all ease;
}

.burger.active>.mid-line {
    opacity: 0;
    transition: 0.3s all ease;
}

.burger.active>.bot-line {
    transform: translateY(-11px) rotate(-45deg);
    transition: 0.3s all ease;
}

#header {
    z-index: 999 !important;
}

.ticker-wrap {
    width: 100%;
    box-sizing: content-box;
    overflow: hidden;
    height: 34px;
    display: block;
}

.ticker-wrap .ticker {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 100px;
    white-space: nowrap;
    position: relative;
    z-index: 10;
    height: 100%;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 90s;
    animation-duration: 90s;
}

.ticker-wrap .ticker__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticker__item img {
    opacity: 0.2;
    min-width: 100px;
    min-height: 22px;
    max-height: 44px;
    object-fit: contain;
    filter: invert(94%) sepia(76%) saturate(0%) hue-rotate(40deg) brightness(113%) contrast(101%);
}

.not-filtered .ticker__item img {
    opacity: 0.2;
    min-width: 100px;
    min-height: 22px;
    filter: none;
}

.whiteImage {
    filter: invert(94%) sepia(76%) saturate(0%) hue-rotate(40deg) brightness(113%) contrast(101%);
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    200% {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
        visibility: visible;
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    200% {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
        visibility: visible;
    }
}

@keyframes growFromTopRight {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-grow-tr {
    transform-origin: bottom right;
    /* Anchor point: top-right corner */
    animation: growFromTopRight 0.5s ease-out forwards;
}

.section-title:before {
    width: 21px;
    height: 21px;
    border-radius: 5px;
    background-color: #8ad68f;
    position: absolute;
    top: -34px;
    content: "";
    display: block;
    left: 48%;
    right: 48%;
}

.swiper-pagination-bullet {
    width: 30px;
    min-width: 30px;
    border-radius: 0;
    height: 3px;
    background-color: #ffffff;
    opacity: 20%;
    transition: 0.3s all;
}

.swiper-pagination-bullet-active {
    opacity: 100%;
}

.news-swiper .swiper-pagination .swiper-pagination-bullet,
.functions-swiper .swiper-pagination-bullet {
    background-color: #1e322d;
}

.news-swiper .swiper-pagination {
    bottom: auto !important;
    top: 20px !important;
}

.functions-swiper .swiper-pagination {
    bottom: auto !important;
    top: 0 !important;
}

.arrowLink {
    filter: invert(56%) sepia(35%) saturate(762%) hue-rotate(183deg) brightness(84%) contrast(87%);
    transform: rotate(-90deg);
    margin-bottom: -5px;
}

._lock {
    overflow: hidden;
}

@media (max-width: 480px) {
    .ticker-wrap .ticker {
        gap: 50px;
    }
}

@media (max-width: 992px) {
    .numberedTitle {
        width: 100%;
        text-align: center;
    }
}

.numberedTitle:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: #1e322d;
    opacity: 0.1;
}

@media (max-width: 768px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-content);
        grid-template-areas:
            "hero3"
            "heroTitle"
            "hero1"
            "hero2";
    }

    .hero-1 {
        grid-area: hero1;
    }

    .hero-2 {
        grid-area: hero2;
        display: none;
    }

    .hero-title {
        grid-area: heroTitle;
    }

    .hero-3 {
        grid-area: hero3;
        margin-bottom: 120px;
    }

    .circleIcon {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(138, 214, 143, 0.1);
    }
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(1) !important;
}

.faq-wrapper {
    margin-bottom: 160px;
}

.faq-answer-item {
    border-bottom: 1px solid rgba(30, 50, 45, 0.2);
    overflow: hidden;
    transition: 0.3s all;
}

.faq-answer-item:first-child .faq-answer-header {
    border-top: 1px solid rgba(30, 50, 45, 0.2);
}

.faq-answer-header {
    color: #1e322d;
    padding: 16px 0;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease;
    gap: 12px;
}

.accordion-content {
    background-color: #fafafa;
    overflow: hidden;
    padding: 0 15px;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.faq-answer-content {
    display: none;
}

.faq-answer-content p {
    line-height: 24px;
    color: #1e322d;
    font-size: 16px;
    padding: 16px 0;
}

.faq-answer-content a {
    line-height: 24px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
}

.faq-icon {
    transition: transform 0.3s ease;
    width: 35px;
    min-width: 35px;
    background-color: transparent;
    border: 1px solid rgba(30, 50, 45, 0.2);
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.faq-icon img {
    width: 10px;
    height: 10px;
    transition: 0.3s all ease;
    filter: invert(14%) sepia(18%) saturate(894%) hue-rotate(114deg) brightness(97%) contrast(89%);
    opacity: 0.5;
}

.active .faq-icon img {
    transform: rotate(180deg);
}

@media (max-width: 992px) {

    .faq-wrapper,
    .feedback-inner {
        padding: 0 20px;
        margin-bottom: 80px;
    }
}

@media (max-width: 768px) {
    .faq-answer-header {
        font-size: 18px;
        line-height: 1.2;
    }
}

.counters-swiper .swiper-wrapper {
    align-items: end;
}

.swiper-button-prev {
    left: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 9999px;
    color: #ffffff;
    background-color: #d9d9d980;
}

.swiper-button-next {
    right: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 9999px;
    color: #ffffff;
    background-color: #d9d9d980;
}

@media (max-width: 640px) {

    .swiper-button-next,
    .swiper-button-prev {
        width: 40px;
        height: 40px;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 16px;
        font-weight: 700;
    }
}

.numbered-swiper .swiper-button-prev {
    left: 25px !important;
}

.numbered-swiper .swiper-button-next {
    right: 25px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 30px;
    font-weight: 700;
}

.counters-swiper:after {
    position: absolute;
    width: 95%;
    height: calc(100% - 40px);
    content: "";
    background-color: rgba(239, 237, 236, 0.5);
    opacity: 0.5;
    top: 0;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.numbered-swiper:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(239, 237, 236, 0.5);
    opacity: 0.5;
    top: 0;
    border-radius: 10px;
    left: 0;
}

.colored-to-black {
    filter: invert(100%) sepia(18%) saturate(910%) hue-rotate(114deg) brightness(87%) contrast(89%);
}

.colored-to-blue {
    filter: invert(56%) sepia(13%) saturate(6730%) hue-rotate(199deg) brightness(90%) contrast(74%);
}

.colored-to-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(114deg) brightness(105%) contrast(103%);
}

.numbered-swiper .swiper-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    width: fit-content;
    left: auto;
}

.numbered-swiper .swiper-pagination-bullet {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 9999px;
    border: 1px solid #8ad68f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #8ad68f;
    opacity: 1;
    transition: 0.3s all;
}

.numbered-swiper .swiper-pagination-bullet-active {
    background-color: #8ad68f;
    color: #ffffff;
}

@media (min-width: 769px) {
    .reviews-swiper .swiper-slide-active video {
        width: 250px;
        height: 416px;
        aspect-ratio: 16 / 9;
    }
}

.reviews-swiper .swiper-slide {
    max-width: max-content !important;
}

.reviews-swiper .swiper-wrapper {
    align-items: center;
}

.animation-container svg {
    position: absolute;
    height: fit-content !important;
    z-index: 10;
}

#animations svg {
    width: 100%;
}

.chart-swiper .swiper-pagination {
    width: fit-content;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%) !important;
    bottom: 38px !important;
    background-color: #9a9a98;
    border-radius: 40px;
}

.chart-swiper .swiper-pagination-bullet {
    padding: 11px 17px;
    width: fit-content;
    height: auto;
    display: block;
    color: #ffffff;
    margin: 0 !important;
    background-color: transparent;
}

.chart-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #5b5a57;
    border-radius: 40px;
    padding: 11px 17px;
}

.golden-star {
    filter: invert(85%) sepia(25%) saturate(6899%) hue-rotate(333deg) brightness(93%) contrast(88%);
    width: 17px;
    height: 17px;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}

.facet-pill-border {
    border-radius: 9999px;
    fill: none;
    height: 58px;
    left: -1px;
    pointer-events: none;
    position: absolute;
    top: -1px;
    width: calc(100% + 1px);
}

.animated-rect {
    stroke-dasharray: 611.06;
    stroke-dashoffset: 611.06;
    stroke: #000000;
    stroke-width: 4px;
    visibility: visible;
    animation: drawBorder 6s linear infinite;
}

@keyframes drawBorder {
    from {
        stroke-dashoffset: 611.06;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.custom-select-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.custom-select {
    position: relative;
    font-family: "Arial", sans-serif;
}

.custom-select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    border: 1px solid rgba(30, 50, 45, 0.2);
    border-radius: 10px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    color: #1e322d;
}

.custom-select-trigger .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1e322d;
}

.custom-options {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 99;
}

.custom-options.open {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.custom-option {
    padding: 10px;
    transition: 0.3s all;
    cursor: pointer;
    font-size: 16px;
    color: #1e322d;
    width: 100%;
}

.custom-option:hover {
    background: rgba(30, 50, 45, 0.05);
}

.custom-option.selected {
    background: rgba(138, 214, 143, 0.1);
}

.nav-link-wrapper img {
    transition: 0.3s all;
}

.nav-link-wrapper:hover img {
    filter: invert(39%) sepia(100%) saturate(20%) hue-rotate(195deg) brightness(114%) contrast(87%);
    transform: scale(1.15);
}

.nav-link-wrapper:hover a {
    color: #1e322d;
}

.install-faq-swiper {
    width: 100%;
}

.install-faq-swiper .swiper-pagination {
    position: relative;
    top: 0;
}

.swiper-pagination-bullet.install-faq-bullet {
    width: fit-content;
    height: fit-content;
    background: transparent;
    opacity: 1;
}

.install-faq-bullet.swiper-pagination-bullet-active .bullet-inner {
    background-color: #1e322d;
    color: #ffffff;
}

.install-faq-pagination.swiper-pagination-vertical.swiper-pagination-bullets,
.install-faq-swiper.swiper-vertical>.swiper-pagination-bullets {
    right: 0;
    transform: none;
}

.numbered-item-swiper--first,
.numbered-item-swiper--second,
.numbered-item-swiper--third,
.numbered-item-swiper--fourth {
    height: 550px;
}

@media (max-width: 992px) {

    .numbered-item-swiper--first,
    .numbered-item-swiper--second,
    .numbered-item-swiper--third,
    .numbered-item-swiper--fourth {
        height: 320px;
    }
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-first-second,
.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-third-second,
.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-fourth-second {
    right: auto;
    left: 100px;
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-second-second {
    right: auto;
    left: 160px;
    top: 40px;
    transform: translateY(0);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-third-second {
    right: auto;
    left: 160px;
    top: 90px;
    transform: translateY(0);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-first-second .swiper-pagination-bullet:nth-child(1) {
    transform: translateX(50%);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-first-second .swiper-pagination-bullet:nth-child(2) {
    transform: translateY(150%);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-first-second .swiper-pagination-bullet:nth-child(3) {
    transform: translate(200%, 50%);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-first-second .swiper-pagination-bullet:nth-child(4) {
    transform: translateX(-50%);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-second-second .swiper-pagination-bullet:nth-child(2) {
    transform: translate(150%, 350%);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-second-second .swiper-pagination-bullet:nth-child(3) {
    transform: translate(50%, 300%);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-second-second .swiper-pagination-bullet:nth-child(4) {
    transform: translate(-150%, 200%);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-third-second .swiper-pagination-bullet:nth-child(1) {
    transform: translateX(200%);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-third-second .swiper-pagination-bullet:nth-child(2) {
    transform: translate(400%, 50%);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-third-second .swiper-pagination-bullet:nth-child(3) {
    transform: translate(200%, 150%);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-third-second .swiper-pagination-bullet:nth-child(4) {
    transform: translate(-50%, -100%);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-fourth-second .swiper-pagination-bullet:nth-child(1) {
    transform: translate(200%, 50%);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-fourth-second .swiper-pagination-bullet:nth-child(2) {
    transform: translate(400%, 50%);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-fourth-second .swiper-pagination-bullet:nth-child(3) {
    transform: translate(200%, 150%);
}

.numbered-swiper .swiper-pagination.numbered-item-swiper-pagination-fourth-second .swiper-pagination-bullet:nth-child(4) {
    transform: translate(-50%, -100%);
}

.filter-to-green {
    filter: invert(84%) sepia(12%) saturate(1224%) hue-rotate(71deg) brightness(93%) contrast(87%);
}

.richTextBlock h1 {
    @apply text-6xl font-bold max-xl:text-5xl max-large:text-4xl max-medium:text-3xl max-small:text-2xl;
}

.richTextBlock h2 {
    @apply text-5xl font-bold max-xl:text-4xl max-large:text-3xl max-medium:text-2xl max-small:text-xl;
}

.richTextBlock h3 {
    @apply text-4xl font-bold max-xl:text-3xl max-large:text-2xl max-medium:text-xl max-small:text-lg;
}

.richTextBlock h4 {
    @apply text-3xl font-bold max-xl:text-2xl max-large:text-xl max-medium:text-lg max-small:text-base;
}

.richTextBlock h5 {
    @apply text-2xl font-bold max-xl:text-xl max-large:text-lg max-medium:text-base max-small:text-sm;
}

.richTextBlock h6 {
    @apply text-xl font-bold max-xl:text-lg max-large:text-base max-medium:text-sm;
}

.richTextBlock p {
    @apply text-lg max-xl:text-base max-medium:text-sm;
}

.richTextBlock ul,
.richTextBlock ol {
    @apply list-disc pl-6 text-lg max-large:text-base max-medium:text-sm;
}

.richTextBlock ol {
    @apply list-decimal;
}

.richTextBlock ul li,
.richTextBlock ol li {
    @apply mb-2;
}

.richTextBlock a {
    @apply underline;
}

/* width */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@layer utilities {
    .scroll-item:first-child {
        margin-left: calc((100vw - 1280px) / 2);
    }

    .scroll-item:last-child {
        margin-right: calc((100vw - 1280px) / 2);
    }

    @media (max-width: 1536px) {
        .scroll-item:first-child {
            margin-left: calc((100vw - 1280px) / 2);
        }

        .scroll-item:last-child {
            margin-right: calc((100vw - 1280px) / 2);
        }
    }

    @media (max-width: 1280px) {
        .scroll-item:first-child {
            margin-left: calc((100vw - 1024px) / 2);
        }

        .scroll-item:last-child {
            margin-right: calc((100vw - 1024px) / 2);
        }
    }

    @media (max-width: 1024px) {
        .scroll-item:first-child {
            margin-left: calc((100vw - 768px) / 2);
        }

        .scroll-item:last-child {
            margin-right: calc((100vw - 768px) / 2);
        }
    }

    @media (max-width: 768px) {
        .scroll-item:first-child {
            margin-left: 1rem;
            /* Or px-4 */
        }

        .scroll-item:last-child {
            margin-right: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .blogImage {
        grid-template-areas:
            "blog-date blog-date"
            "blog-tags blog-copy-link";
    }

    .blogImage .blogImageTags {
        grid-area: blog-tags;
    }

    .blogImage .blogImageCopyLink {
        grid-area: blog-copy-link;
    }

    .blogImage .blogImageDate {
        grid-area: blog-date;
        text-align: center;
    }
}

[data-sonner-toast][data-styled="true"] [data-description],
[data-sonner-toaster][data-sonner-theme="dark"] [data-description] {
    color: #1e322d !important;
    font-size: 14px;
}

[data-sonner-toast][data-styled="true"] [data-title] {
    color: #1e322d !important;
    font-size: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}