.chat-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #4B5563; /* Tailwind's gray-600 */
  padding: 16px;
  border-radius: 8px;
  width: 90vw;
  max-width: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1051 !important;
}